@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*----------------------------------------------------Colours*/

.ui-menu-color-home {
    background-color: #e2dcba
}


/*----------------------------------------------------Header*/
header {
    border: solid #000 2px;
    padding: 50px;
    text-align: center;
    color: #000
    
}
/*----------------------------------------------------Nav bar*/

.menuitem {
    
    text-align: center;
}




/*-----------------------------------------------------Home*/
.logo {
    background: url("../images/frankfurt-skyline1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    Padding: 50px;
}

/*-----------------------------------------------------All Events*/








/*-----------------------------------------------------About*/





/*-----------------------------------------------------Contact*/

.container {
    display: inline-block;
    border: solid #000 2px;
}

.list-inline-item {
    text-align: center;
}

/*-----------------------------------------------------Footer*/
footer {
    padding: 20px;
    border: solid #000 2px;   
    text-align: center; 
}

