@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


body {
    width: 100%;
    background-color: #2a2a2a;
}

/*----------------------------------------------------Colours*/



/*----------------------------------------------------Header*/
header {
    background-color: #70ae98;
    position: fixed;
    width: 100%;
    height: auto;
    color: #000;   
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 150%;
    padding: 0.7rem;
    z-index: 1;
    
}

h1 {
    text-align: center;
    padding: 1rem;
    z-index: 1;
}
/*----------------------------------------------------Nav bar*/
.list-inline-item {
    display: inline;
}

.list-inline-item a {
    text-decoration: none;
}

.list-inline-item a:hover {
    
    background-color: #2a2a2a;
}

.list-inline-item a:active {
    color: #70ae98;
    background-color: #2a2a2a;
}

span {
    color: #000;
    font-weight: 100;
}







/*-----------------------------------------------------Home*/
.logo {
    background: url("../images/frankfurt-skyline1.jpg") no-repeat center;
    z-index: 0;
    padding-top: 70%;
    margin-bottom: 8rem;
}



/*-----------------------------------------------------------------------------All Events*/
/*----All written descriptions beside images have font color white----*/

.container {
    color: #fff;
    text-align: center;
    font-family: "Roboto", sans-serif;
    
}

.col-md-6 {
    padding: 50px;
}

#events {
    margin-bottom: 6rem;
}
/*----Styled first the image then the descriptions in all 15 events----*/
.cinderella {
    background: url("../images/ballet.png") no-repeat;  
    display: inline-block;
    width: 500px;
    height: 400px;  
}



.swan-lake {
    background: url("../images/swan_lake.jpg") no-repeat; 
    display: inline-block;
    width: 500px;
    height: 400px;      
}



.la-bayadere  {
    background: url("../images/la_bayadere.jpg") no-repeat;
    display: inline-block;
    width: 500px;
    height: 400px;
}



.nativity {
    background: url("../images/nativity.jpg") no-repeat; 
    display: inline-block;
    width: 500px;
    height: 400px;     
}

.lady-windermere {
    background: url("../images/lady_windermere.jpg") no-repeat;
    display: inline-block;
    width: 500px;
    height: 400px;       
}

.much-ado {
    background: url("../images/much_ado.jpg") no-repeat; 
    display: inline-block;
    width: 500px;
    height: 400px;      
}



.clara-schumann {
    background: url("../images/orchestra.png") no-repeat; 
    display: inline-block;
    width: 500px;
    height: 400px;   
}



.classical {
    background: url("../images/composers.png")no-repeat; 
    display: inline-block;
    width: 500;
    height: 400px;      
}



.symphony {
    background: url("../images/symphony.jpg") no-repeat; 
    display: inline-block; 
    width: 500px;
    height: 400px;          
}



.gospel-choir {
    background: url("../images/choir.png")no-repeat;
    display: inline-block;
    width: 500px;
    height: 400px;    
}



.monteverdi-choir {
    background: url("../images/monteverdi.jpg") no-repeat; 
    display: inline-block;
    width: 500;
    height: 400px;   
}



.wells-choir {
    background: url("../images/carols.jpg") no-repeat; 
    display: inline-block;
    width: 500;
    height: 400px;   
}



.cats {
    background: url("../images/cats.jpg") no-repeat;
    display: inline-block;
    width: 500px;
    height: 400px;    
}


.les-miserables {
    background: url("../images/les-miserables.jpg") no-repeat; 
    display: inline-block;
    width: 500px;
    height: 400px;   
}

.phantom {
    background: url("../images/phantom.jpg") no-repeat; 
    display: inline-block;
    width: 500px;
    height: 400px; 
    margin-bottom: 5rem;    
}

/*-----------------------------------------------------End of Events*/

/*-----------------------------------------------------Booking Form*/
.center-form {  
    padding-top: 15%;
    margin: 0 auto;
    max-width: 50%;
    padding-bottom: 15%;
}

.form-row {
    color: #fff;
}
/*-----------------------------------------------------Iframes*/
/*---Iframe: Google map and Youtube video----------------*/
iframe {
    display: block;
    margin: 0 auto;
    
}

/*-----------------------------------------------------Contact*/


.contact {
    margin-top: 15rem;
    
     
}

.googlemap {
    margin-bottom: 10rem;
    padding: 50px;
}



/*-----------------------------------------------------Upcoming*/

.coming-soon { 
    margin-bottom: 5rem; 
    padding: 50px;   
}




/*-----------------------------------------------------Footer*/


footer {
    background-color: #70ae98;
    width: 100%;
    padding: 1%;
    font-family: "Open+Sans", sans-serif;
    text-align: center; 
    color: #000;
    
}

ul {
    list-style-type: none;
}

.social-links i {
    
    margin: 1%;
    color:#2a2a2a;
    letter-spacing: 2rem;
}

@media and 

