@import url('https://fonts.googleapis.com/css?family=Roboto:50,100,200,300,400,500,600,700|Exo:50,100,200,300,400,500,600,700');

body {
    margin: 0;
}

/*----------------------------------------------------Colours*/




/*----------------------------------------------------Header*/
header {
    border: solid #000 2px;
    padding: 30px;
    text-align: center;
    color: #000;
    
    
}
/*----------------------------------------------------Nav bar*/
.menuitem {
    
    font-size: 24px;
    
}





/*-----------------------------------------------------Home*/
.logo {
    background: url("../images/frankfurt-skyline1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    padding: 400px;
    transition: all 2s ease-in-out;
}

/*-----------------------------------------------------All Events*/








/*-----------------------------------------------------About*/





/*-----------------------------------------------------Contact*/

.googlemap {
    display: inline-block;
    text-align: center;   
}

.contact {
    font-family: "Exo", sans-serif;
    font-weight: 600;
    text-align: center;
    padding: 50px;
}

.social-links {
    text-align: center;
    padding: 50px;
}

ul {
    list-style-type: none;
}
/*-----------------------------------------------------Footer*/
footer {
    padding: 20px;
    font-family: "Exo", sans-serif;
    font-weight: 50;   
    text-align: center; 
    
}

